@font-face {
    font-family: 'Vecna';
    src: url('../Vecna.otf')
}
body {
    background-color: black;
    background-image: url("../images/d&dbackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 100%;
    font-size: 24px;
    font-family: 'Vecna'
}
.container {
    background-color: rgba(255, 0, 0, .50);
    color: white;
    margin-top: 30px;
    padding-bottom: 20px;
}
#answerA:hover, #answerB:hover, #answerC:hover, #answerD:hover {
    background-color: yellow;
    color: black;
}
#answerA:active, #answerB:active, #answerC:active, #answerD:active {
    background-color: black;
    color: white;
}
h1 {
    font-size: 64px;
    color: rgb(0, 204, 255);
    font-weight: bold;
    margin: 20px;
}
h3 {
    margin: 20px;
    font-weight: normal;
    font-size: 48px;
    color: white;
}
#start {
    padding: 10px 20px 10px 20px;
    width: 50%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 48px;
    }
    h3 {
        font-size: 32px;
    }
}